.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.pyc
*.Proj
__pycache__/
.vscode/
*.Rprofile
outputs/
dynamic_microsimulation_model.Rproj
etc/sample
etc/app/Synthetic-HES23-single-period.csv
site-packages
etc/app/*.png
etc/app/*.csv
etc/app/*.parquet
etc/app/runs
etc/app/TY25_BEFU24_SQ.csv.gz
